version: '3.8'

services:
  web:
    build: .
    command: gunicorn agencia_web.wsgi:application --bind 0.0.0.0:8000
    volumes:
      - .:/app
      - static_volume:/app/staticfiles
      - media_volume:/app/media
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - db

  db:
    image: postgres:15
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      - POSTGRES_DB=movums_db
      - POSTGRES_USER=movums_user
      - POSTGRES_PASSWORD=[REDACTED_PASSWORD]
    ports:
      - "5432:5432"

volumes:
  postgres_data:
  static_volume:
  media_volume:

