{% extends "ventas/pdf/base_cotizacion_pdf.html" %}

{% block content %}
    {% for tour in propuestas.tours %}
        {% include "ventas/pdf/components/seccion_tour.html" with tour=tour tour_index=forloop.counter %}
    {% endfor %}
{% endblock %}

{% block terminos_condiciones %}
<div class="terminos-condiciones">
    <div class="terminos-condiciones-title">Términos y condiciones</div>
    <div class="terminos-condiciones-content">
        <p>Los cambios en los nombres de los titulares pueden estar o no permitidos y pueden ocasionar cargos extra.</p>
        <p>Las propiedades puede cobrar impuestos locales pagaderos directo en destino.</p>
        <p><em>*Tarifas sujetas a disponibilidad y a cambios sin previo aviso*</em></p>
    </div>
</div>
{% endblock %}
